<section id="sample-table" class="mat-elevation-z8 bg-white">
  
  <mat-nav-list>
    <mat-list-item >
      <img matListAvatar src="assets/images/card-1.jpg" alt="...">
      <p matLine>
        <span class="nome-time">APP Point do Jogador</span>
        <span class="pontuacao">138.25</span>
      </p>
      <p matLine>
        <span class="coach">Vei</span>
        <span class="entrou-em-campo">12/12</span>
      </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item >
      <img matListAvatar src="assets/images/card-1.jpg" alt="...">
      <p matLine>
        <span class="nome-time">Vei do Iate</span>
        <span class="pontuacao">125.12</span>
      </p>
      <p matLine>
        <span class="coach">Vei</span>
        <span class="entrou-em-campo">12/12</span>
      </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item >
      <img matListAvatar src="assets/images/card-1.jpg" alt="...">
      <p matLine>
        <span class="nome-time">OS REIS DA LIGA BRASIL OFICIAL 2021</span>
        <span class="pontuacao">101.25</span>
      </p>
      <p matLine>
        <span class="coach">Vei</span>
        <span class="entrou-em-campo">12/12</span>
      </p>
    </mat-list-item>
  </mat-nav-list>
  
  </section>
