@import '~src/scss/variables';

:host {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}
.nav-brand {
  text-align: center;
}
.topnav-icon {
  text-decoration: none;
  display: flex;
  color: $white;
}

.nav-spacer {
  flex: 1 1 auto;
}

.visible-md {
  display: none;
}
.visible-sm {
  display: none;
}
@media screen and (max-width: 992px) {
  .visible-md {
      display: block;
  }
}
@media screen and (max-width: 768px) {
  .visible-sm {
      display: block;
  }
  .nav-brand {
      width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .hidden-sm {
      display: none;
  }
}

._cj {
  display: block;
}
._dv {
  text-align: right;
}
._du {
  align-items: flex-end;
  -moz-box-align: end;
}
._dc {
  background-color: transparent;
}
._bd {
  display: none;
}
._b {
  flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
}
._a {
  display: flex;
}


._dw {
  line-height: 1.5;
}
._dc {
  background-color: transparent;
}
._ck {
  white-space: nowrap;
}
._bn {
  font-size: 12px;
}
._z {
  color: rgb(255, 255, 255);
}
._l {
  display: block;
}
._y {
  font-weight: bold;
}

._eb {
  font-weight: normal;
}
._ea {
  letter-spacing: 1px;
}
._dz {
  font-family: 'Times New Roman', Times, serif;
}
._dy {
  padding-top: 0px;
}
._dx {
  line-height: 1.2;
}
._ck {
  white-space: nowrap;
}
._ap {
  text-transform: uppercase;
}
._ac {
  font-size: 12px;
}
._z {
  color: rgb(255, 255, 255);
}
._l {
  display: block;
}
