<mat-toolbar color="primary" class="fix-nav">
  <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div class="nav-brand">
    point
  </div>
  <span class="nav-spacer"></span>

  <div class="_dc _bd _cj _a _b _du _dv">
    <div class="_dc _bn _ck _dw _z _l">
      <span class="_y">R$&nbsp;100,00</span>
    </div>
    <span class="_dz _eb _dx _ap _ck _dy _ac _dz _ea _z _l">SALDO</span>
  </div>

 
  <button mat-icon-button (click)="onLoggedout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>