<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch">

  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'success'" [icon]="'attach_money'" [count]="100" [label]="'SALDO ATUAL'" [detalhe]="'Detalhar'"></app-stat>
  </div>

  
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'info'" [icon]="'login'" [count]="'PIX'" [label]="'Pagamento'" [detalhe]="'Fazer o pix'"></app-stat>
  </div>

  
  
</div>

<div class="mt20" fxLayout="row" fxLayoutAlign="space-between stretch" fxLayout.lt-md="column" fxLayoutGap="20px">
  <mat-card fxFlex *ngFor="let item of places">
    <img mat-card-image src="assets/images/card-1.jpg" alt="...">
    <mat-card-header style="justify-content: center">
      <mat-card-title>
        <h3 class="m-0">RODADA #28</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayoutAlign="center stretch">
      Tiro curto de 10,00 REAIS, premiação do 1º ao 10º colocado! Não percam...
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center stretch">
      <button mat-raised-button color="accent" >Clique para Participar</button>
    </mat-card-actions>
  </mat-card>
</div>
