.nome-time {
  font-size: 14px;
}

.coach {
  font-size: 12px;
  color: #f28854;
}

.entrou-em-campo {
  float: right;
  font-size: 12px;
  }

.pontuacao {
  float: right;
  font-size: 14px;
  color: #f30a0a;
}

.imgPix {
  width: 300px;
  height: 100px;
}

.textCopyCola {
  font-size: 10px;
}